<MudDialog>
    <DialogContent>
        <div class="px-5 py-2 d-flex flex-column align-center content">
            <div class="d-flex align-center mb-6">
                <MudText Typo="Typo.h5" Class="mr-1 cursor-default">签名计算器</MudText>
                <MudTooltip Text="GitHub">
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                                   Href="https://github.com/JiuLing-zhang/SignDebugger"
                                   Edge="Edge.End" />
                </MudTooltip>
            </div>

            <AutoUpdate />

        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">关闭</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));
}