.detail {
}

.operation {
    font-size: 13px;
    word-break: break-all;
}

::deep .debug-step {
    height: calc(100vh - 160px);
}

.result {
    opacity: 0.5;
    font-size: 13px;
    word-break: break-all;
}

.undo {
    opacity: 0.8;
    margin-left: 20px;
}

::deep .tools-title {
    opacity: 0.5;
}
